/* Author     : Siarhei Tsytrykau */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 13.3px;
  font-weight: normal;
  color: #333;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 21.3px;
  font-weight: normal;
}

b {
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*------------------------------------*\
  #COMMON CLASSES
\*------------------------------------*/
.content {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
}

/*------------------------------------*\
  #MENU
\*------------------------------------*/
.menu {
  display: block;
  background-color: #333;
  margin-bottom: 12px;
  position: relative;
}

.menu a {
  color: #fefefe;
  padding: 0 12px;
}

.menu a:hover, .menu a:focus {
  background-color: #fefefe;
  color: #333;
}

/*------------------------------------*\
  #MAIN MENU
\*------------------------------------*/
.main-menu a:last-child {
  right: 0;
  position: absolute;
}

.main-menu a {
  font-size: 1.5em;
}

/*------------------------------------*\
  #NEWS LIST
\*------------------------------------*/
.news-text {
  text-align: justify;
}
.news-text.short {
  height: 100px;
  overflow: hidden;
  padding-bottom: 10px;
}
.news-item-links.menu {
  background-color: #5c5c5c;
}

/*------------------------------------*\
  #NEWS ADD, EDIT
\*------------------------------------*/
.news-form input, .news-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

/*------------------------------------*\
  #NEWS VIEW
\*------------------------------------*/
.news-view .news-form {
  margin-top: 24px;
}
.news-view .comment {
  margin-bottom: 6px;
}
.news-view .comment:nth-child(2n) {
  background-color: #D3D3D3;
}

/*------------------------------------*\
  #PAGINATION
\*------------------------------------*/
.pagination {
  text-align: center;
}
.pagination a {
  padding: 6px;
}

.pagination .active:before {
	content: "[";
}

.pagination .active:after {
	content: "]";
}

/*one column*/
@media (max-width: 479px) {
  .content {
    width: 240px;
  }
}

/*two columns*/
@media (min-width: 480px) and (max-width: 719px) {
  .content {
    width: 480px;
  }
}

/*three columns*/
@media (min-width: 720px) and (max-width: 959px) {
  .content {
    width: 720px;
  }
}
/*four columns*/
@media (min-width: 960px) {
  .content {
    width: 960px;
  }
}
/*

.news-item:hover {
  border: 1px solid gray;
}

.news-item__title {
  text-align: center;
}

.news-item__text {
  margin: 24px 0;
}

.comments__title {
  text-align: center;
}

.comment {
  margin: 6px 0;
}

.news-item__form {
  width: 100%;
  margin: 24px 0;
}

.news-item__form input {
  display: block;
  width: 100%;
}

#news-form > input, textarea {
  display: block;
  margin: 12px 0;
}

*/